body {
    background-color: rgb(25, 29, 50);
    color: whitesmoke;
    font-family: Verdana, sans-serif;
}

h1 {
    font-family: Tahoma, sans-serif;
    text-align: center;
}

h4 {
    font-size: 1.2em;
}

/* Formatações para o hiperlink quando ele já foi visitado */

a:visited {
    color: whitesmoke;
    text-decoration: none;
}

/* Formatações para quando o hiperlink ainda não foi visitado */

a:link {
    color: whitesmoke;
    text-decoration: none;
}

/* Formatações para quando o mouse passa por cima do hiperlink */

a:hover {
    color: rgb(186, 44, 115);
}

strong {
    color: rgb(109, 59, 71);
}

.bold {
    font-weight: bold;
}

/* Cria borda nas divs */
/* div {
    border: 1px solid purple;
} */

/* Deixa a foto do lado esquerdo */
#foto {
    float: left;
    height: 280px;
    padding: 10px;
    background-color: rgb(186, 44, 115);
}

.image_container {
    height: 300px;
}